@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;

  /* background-color: #60b347; */
}

/* layout */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #eee;
  height: 65vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52rem;
}

.right {
  font-size: 2rem;
  width: 52rem;
}

/* elements style */
h1 {
  position: absolute;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  font-size: 6rem;
  text-align: center;
  background: #eee;
  color: #333;
  bottom: 0%;
  left: 40%;
  width: 15rem;
  padding: 3rem 0;

  /* transform: translate(-50%, -50%); */
}

.between {
  position: absolute;
  font-size: 1.4rem;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  display: block;
  font-family: inherit;
  font-size: 5rem;
  text-align: center;
  color: inherit;
  background: none;
  border: 4px solid #eee;
  width: 25rem;
  padding: 2.5rem;
  margin-bottom: 3rem;
}

.btn {
  font-size: 2rem;
  font-family: inherit;
  color: #222;
  background-color: #eee;
  cursor: pointer;
  border: none;
  padding: 2rem 3rem;
}

.btn:hover {
  background-color: #eee;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
